@font-face {
    font-family:"Roadrage";
    src: url("../asset/Road_Rage.otf");

}

@font-face {
    font-family:"Creamcake";
    src: url("../asset/Cream\ Cake.otf");
}
@font-face {
    font-family: "londonpow";
    src: url("../asset/Olondona.otf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202020;
}

header {
    width : 100vw;
    height: 20vh;
    
    background-color: #774634;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header>h1, header>h3 {
    font-family:"Creamcake";
    color: #1b019b;
}

header>h1 {
    font-size: 8vh;
}

header>h3 {
    font-size: 5vh;
}

nav {
    width : 100vw;
    height: 10vh;
    border-top: black;
    background-color:#0e0152;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navButton {
    display: block;
    height: 7vh;
    width : 20vw;
    font-family: "londonpow";
    font-size: 5vh;
    background-color:#774634;
    color:#1b019b;
    text-align: center;
    border-radius: 5px;
    transition: 250ms;
}

.navButton:hover {
    color: #1e4141;
    background-color: aqua;
    transform: translate(10px, 10px);
    transition: 250ms;
}


/*Tableau des livre*/

.bookContainer {
    width: 80vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: chocolate;
    color: darkblue;
    height: 3vh;
    font-size: 2vh;
    font-family: "londonpow";
}
.firstLine {
    background-color: #774634;
    color: white;
    height: 5vh;
    font-size: 3.5vh;
    padding-top: 1vh;
    font-family: "londonpow";
}
